<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Student</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Edit Student</h1>
      <form method="POST">
        <div class="form-group">
          <label for="nom">Name</label>
          <input
            type="text"
            class="form-control"
            id="nom"
            name="Nom"
            value="{{ student.nom }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="prenoms">Surname</label>
          <input
            type="text"
            class="form-control"
            id="prenoms"
            name="Prenom"
            value="{{ student.prenoms }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input
            type="number"
            class="form-control"
            id="age"
            name="Age"
            value="{{ student.age }}"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Update Student</button>
      </form>
    </div>
  </body>
</html>
